* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.search_input {
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
  border: 1px solid rgb(175, 174, 174);
}
/* .body_css{
    height: calc(100vh - 3px);
} */
.hide_scroll::-webkit-scrollbar {
  display: none;
}
.popular_page {
  width: calc(100vw - 80px);
}
.video_container {
  height: calc(100vh - 120px);
}
.video_page {
  height: calc(100vh - 58px);
}
