* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
.search_input {
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
  border: 1px solid rgb(175, 174, 174);
}
/* .body_css{
    height: calc(100vh - 3px);
} */
.error_page_screen {
  height: calc(100vh - 150px);
}
.hide_scroll::-webkit-scrollbar {
  display: none;
}
@media (min-width: 768px) {
  .popular_page {
    /* width: calc(100vw - 80px); */
    width: 100%;
  }
  .category_wrapper{
    width: calc(100% - 48px);
  }
}
@media (max-width: 768px) {
  .category_wrapper{
    width: calc(100% - 32px);
  }
  .popular_page {
    width: 100%;
    padding: 0 1rem;
  }
}
.video_page {
  height: 100vh;
}

.search_btn:active i {
  transform: scale(1.2);
}
.sidebar_container {
  top: -57.5px;
  height: calc(100vh + 57.5px);
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 120px; /* Adjust according to your needs */
}
